{% set coh_instance_class %}{{ coh_instanceid() }}{% endset %}{{ attach_library('cohesion/global_libraries.responsiveJs') }} {{ attach_library('cohesion/global_libraries.windowscroll') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/global_libraries.matchHeight') }} {{ attach_library('cohesion/global_libraries.parallax_scrolling') }} {{ attach_library('cohesion/global_libraries.cohMatchHeights') }} {{ attach_library('cohesion/element_templates.drupal-menu') }} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} coh-ce-cpt_a_supernav_l2_pro-98b24950" > {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container coh-style-supernavl2-sub-menu {{ coh_instance_class }} coh-ce-cpt_a_supernav_l2_pro-36cf548e" > {{ attach_library('cohesion/global_libraries.jquery_ui_effect_none') }} <button class="coh-button explore-btn {{ coh_instance_class }} coh-ce-cpt_a_supernav_l2_pro-2f478a59 coh-interaction" data-interaction-modifiers="[{&quot;modifierType&quot;:&quot;toggle-modifier-accessible-collapsed&quot;,&quot;interactionScope&quot;:&quot;document&quot;,&quot;interactionTarget&quot;:&quot;.explore-btn&quot;,&quot;modifierName&quot;:&quot;brandmenu-visible&quot;},{&quot;modifierType&quot;:&quot;toggle-modifier&quot;,&quot;interactionScope&quot;:&quot;document&quot;,&quot;modifierName&quot;:&quot;mobile-menu-close mobile-menu-open&quot;,&quot;interactionTarget&quot;:&quot;.supernavl2-navigation&quot;}]" aria-haspopup="true" aria-expanded="false" data-coh-settings='{ "xl":{"buttonAnimation":[{"animationType":"none"}]} }' type="button"> {%- trans with {"langcode": get_content_language() } %}EXPLORE{% endtrans -%}</button> {% set inlineElementContent %}{{ getComponentFieldValue("22fe5779-0187-4d7b-820e-a9a36d33d9c3") | raw }}{% endset %} <span class="coh-inline-element subpageHeading {{ coh_instance_class }} coh-ce-cpt_a_supernav_l2_pro-f152dad5"> {{- inlineElementContent -}} </span> {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container supernavL2" > {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container supernavl2-navigation mobile-menu-close {{ coh_instance_class }} coh-ce-cpt_a_supernav_l2_pro-44e2797b" > {{ attach_library('cohesion/coh_element_drupal_menu') }} {{ render_menu('professional-level-1', '', 1, 2) }} </div> </div> </div> </div> 
{% set compiledCSS %}<style>{% if getComponentFieldValue("e82a691e-fe60-4ff2-a98a-551778a52b96") is not empty %}.{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-36cf548e {
{% if getComponentFieldValue("e82a691e-fe60-4ff2-a98a-551778a52b96") is not empty %}   {% if getComponentFieldValue("e82a691e-fe60-4ff2-a98a-551778a52b96") is not empty %} background-color: {{ getComponentFieldValue("e82a691e-fe60-4ff2-a98a-551778a52b96") | raw }};{% endif %}{% endif %}
}{% endif %}
{% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty or getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty or getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty or getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty or getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty or getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty or getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty or getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty or getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty or getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty or getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty or getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %}@media (max-width: 1023px) {
  .{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-2f478a59 {
{% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %}     {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} color: {{ getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") | raw }};{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
{% if getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty %} {% if getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty %} {% if getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty %}     {% if getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty %} background-color: {{ getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") | raw }};{% endif %}{% endif %}{% endif %}{% endif %}
{% if getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty %} {% if getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty %} {% if getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty %}     {% if getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty %} border-color: {{ getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") | raw }};{% endif %}{% endif %}{% endif %}{% endif %}
  }
}
@media (max-width: 767px) {
  .{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-2f478a59 {
    {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} color: {{ getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") | raw }};{% endif %}
    {% if getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty %} background-color: {{ getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") | raw }};{% endif %}
    {% if getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty %} border-color: {{ getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") | raw }};{% endif %}
  }
}
@media (max-width: 564px) {
  .{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-2f478a59 {
    {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} color: {{ getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") | raw }};{% endif %}
    {% if getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") is not empty %} background-color: {{ getComponentFieldValue("b79c6650-3e48-4f52-b797-5da4469b2fd2") | raw }};{% endif %}
    {% if getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") is not empty %} border-color: {{ getComponentFieldValue("8e9a9561-1c05-4a6d-b88b-ac508ae7af59") | raw }};{% endif %}
  }
}
@media (max-width: 1023px) {
  .{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-2f478a59:before {
    {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} color: {{ getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") | raw }};{% endif %}
  }
}
@media (max-width: 767px) {
  .{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-2f478a59:before {
    {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} color: {{ getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") | raw }};{% endif %}
  }
}
@media (max-width: 564px) {
  .{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-2f478a59:before {
    {% if getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") is not empty %} color: {{ getComponentFieldValue("373da9a3-9566-4f6f-bf65-1b8f8312fe4f") | raw }};{% endif %}
  }
}{% endif %}
{% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %}.{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-f152dad5 {
{% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %}   {% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %} color: {{ getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") | raw }};{% endif %}{% endif %}
}{% endif %}
.{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-44e2797b {
{% if getComponentFieldValue("e82a691e-fe60-4ff2-a98a-551778a52b96") is not empty %}   {% if getComponentFieldValue("e82a691e-fe60-4ff2-a98a-551778a52b96") is not empty %} background-color: {{ getComponentFieldValue("e82a691e-fe60-4ff2-a98a-551778a52b96") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("fb62d1c6-69cb-4050-b3b9-569294150614") is not empty %}   {% if getComponentFieldValue("fb62d1c6-69cb-4050-b3b9-569294150614") is not empty %} font-weight: {{ getComponentFieldValue("fb62d1c6-69cb-4050-b3b9-569294150614") | raw }};{% endif %}{% endif %}
}
.{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-44e2797b .menu .menu-item a {
{% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %}   {% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %} color: {{ getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") | raw }};{% endif %}{% endif %}
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-44e2797b .menu .menu-item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
  }
}
.{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-44e2797b .menu .menu-item a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
{% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %} {% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %}   {% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %} border-bottom-color: {{ getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") | raw }};{% endif %}{% endif %}{% endif %}
  text-shadow: 0 0 0.01px rgb(44 86 151), 0 0 0.01px rgb(44 86 151);;
  border-bottom-color: rgba(44, 86, 151, 1) !important;;
  padding-top: 1.075rem;
  padding-bottom: 0.825rem;
}
.{{ coh_instance_class }}.coh-ce-cpt_a_supernav_l2_pro-44e2797b .is-active {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  {% if getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") is not empty %} border-bottom-color: {{ getComponentFieldValue("14d567aa-1511-46f2-a530-063a927176c4") | raw }};{% endif %}
  padding-top: 1.075rem;
  padding-bottom: 0.825rem;
  text-shadow: 0 0 0.01px rgb(44 86 151), 0 0 0.01px rgb(44 86 151);;
  border-bottom-color: rgba(44, 86, 151, 1) !important;
}
</style>{% endset %}{{ renderInlineStyle(compiledCSS) | raw }}