{% set coh_instance_class %}{{ coh_instanceid() }}{% endset %}{{ attach_library('cohesion/global_libraries.responsiveJs') }} {{ attach_library('cohesion/global_libraries.windowscroll') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/global_libraries.matchHeight') }} {{ attach_library('cohesion/global_libraries.parallax_scrolling') }} {{ attach_library('cohesion/global_libraries.cohMatchHeights') }} {{ attach_library('cohesion/element_templates.image') }} {{ attach_library('cohesion/element_templates.row-for-columns') }} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} product-criteria-wrap {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-55ad363" > <h6 class="coh-heading {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-1ddfde8d" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('b5155b85-c03c-4b21-8c2a-18bbafc6d91a', 'Array') }}" data-ssa-form-type="form-input"{% endif %} > {{ getComponentFieldValue("b5155b85-c03c-4b21-8c2a-18bbafc6d91a") | raw }} </h6> {% set hideData %}{{ getComponentFieldValue('dbd698ec-750a-4963-8afa-0608fa846a6e', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container coh-ce-cpt_product_comparision_criteria-217441d9" > {% set hideData %}{{ getComponentFieldValue('dbd698ec-750a-4963-8afa-0608fa846a6e', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_image') }} <img class="coh-image {{ getComponentFieldValue("dbd698ec-750a-4963-8afa-0608fa846a6e") | raw }} coh-ce-cpt_product_comparision_criteria-2ac73d7c coh-image-responsive-xl" src="{% set src %}{{ processtoken("[media-reference:file:66f51dcb-5ce9-4c52-9581-b9d22a713d6c]", {"media-reference": media_reference}, _context, true) }}{% endset %}{% set imagestyle %}{% endset %}{{ cohesion_image_style(src, imagestyle) }}" /> {% endif %} </div> {% endif %} {% set hideData %}{{ getComponentFieldValue('1e710a4e-c4ad-4d46-bfcb-71db09191bf8', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container coh-ce-cpt_product_comparision_criteria-81c9d" > {% set hideData %}{{ getComponentFieldValue('1e710a4e-c4ad-4d46-bfcb-71db09191bf8', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_image') }} <img class="coh-image {{ getComponentFieldValue("1e710a4e-c4ad-4d46-bfcb-71db09191bf8") | raw }} coh-ce-cpt_product_comparision_criteria-a788028d coh-image-responsive-xl" src="{% set src %}{{ processtoken("[media-reference:file:66f51dcb-5ce9-4c52-9581-b9d22a713d6c]", {"media-reference": media_reference}, _context, true) }}{% endset %}{% set imagestyle %}{% endset %}{{ cohesion_image_style(src, imagestyle) }}" /> {% endif %} </div> {% endif %} {% set hideData %}{{ getComponentFieldValue('87e25f91-b9c3-4040-b97c-b17c59ac8640', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container coh-ce-cpt_product_comparision_criteria-81c9d" > {% set hideData %}{{ getComponentFieldValue('87e25f91-b9c3-4040-b97c-b17c59ac8640', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_image') }} <img class="coh-image {{ getComponentFieldValue("87e25f91-b9c3-4040-b97c-b17c59ac8640") | raw }} coh-ce-cpt_product_comparision_criteria-2ac73d7c coh-image-responsive-xl" src="{% set src %}{{ processtoken("[media-reference:file:66f51dcb-5ce9-4c52-9581-b9d22a713d6c]", {"media-reference": media_reference}, _context, true) }}{% endset %}{% set imagestyle %}{% endset %}{{ cohesion_image_style(src, imagestyle) }}" /> {% endif %} </div> {% endif %} </div> {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} {{ getComponentFieldValue("15e89ced-faba-4e22-ba47-e7e3c8393e75") | raw }} coh-ce-cpt_product_comparision_criteria-1730313e" > {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container" > <div class="coh-row coh-row-xl coh-row-visible-xl" data-coh-row-match-heights="{&quot;xl&quot;:{&quot;target&quot;:&quot;none&quot;}}"> <div class="coh-row-inner coh-ce-cpt_product_comparision_criteria-f574de6d"> {% set hideData %}{{ getComponentFieldValue('dbd698ec-750a-4963-8afa-0608fa846a6e', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} <div class="coh-column product-one coh-col-xl" > {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-d98b72f1" > <h6 class="coh-heading {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-1a7e72cf" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('b5155b85-c03c-4b21-8c2a-18bbafc6d91a', 'Array') }}" data-ssa-form-type="form-input"{% endif %} > {{ getComponentFieldValue("b5155b85-c03c-4b21-8c2a-18bbafc6d91a") | raw }} </h6> {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container image-wrap" > {% set hideData %}{{ getComponentFieldValue('dbd698ec-750a-4963-8afa-0608fa846a6e', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_image') }} <img class="coh-image {{ getComponentFieldValue("dbd698ec-750a-4963-8afa-0608fa846a6e") | raw }} coh-ce-cpt_product_comparision_criteria-5d7a0545 coh-image-responsive-xl" src="{% set src %}{{ processtoken("[media-reference:file:66f51dcb-5ce9-4c52-9581-b9d22a713d6c]", {"media-reference": media_reference}, _context, true) }}{% endset %}{% set imagestyle %}{% endset %}{{ cohesion_image_style(src, imagestyle) }}" /> {% endif %} </div> </div> </div> {% endif %} {% set hideData %}{{ getComponentFieldValue('1e710a4e-c4ad-4d46-bfcb-71db09191bf8', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} <div class="coh-column product-two coh-ce-cpt_product_comparision_criteria-1da5c054 coh-col-xl" > {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-d98b72f1" > <h6 class="coh-heading {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-1a7e72cf" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('b5155b85-c03c-4b21-8c2a-18bbafc6d91a', 'Array') }}" data-ssa-form-type="form-input"{% endif %} > {{ getComponentFieldValue("b5155b85-c03c-4b21-8c2a-18bbafc6d91a") | raw }} </h6> {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container image-wrap" > {% set hideData %}{{ getComponentFieldValue('1e710a4e-c4ad-4d46-bfcb-71db09191bf8', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_image') }} <img class="coh-image {{ getComponentFieldValue("1e710a4e-c4ad-4d46-bfcb-71db09191bf8") | raw }} coh-ce-cpt_product_comparision_criteria-5d7a0545 coh-image-responsive-xl" src="{% set src %}{{ processtoken("[media-reference:file:66f51dcb-5ce9-4c52-9581-b9d22a713d6c]", {"media-reference": media_reference}, _context, true) }}{% endset %}{% set imagestyle %}{% endset %}{{ cohesion_image_style(src, imagestyle) }}" /> {% endif %} </div> </div> </div> {% endif %} {% set hideData %}{{ getComponentFieldValue('87e25f91-b9c3-4040-b97c-b17c59ac8640', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} <div class="coh-column product-three coh-style-column-hide coh-col-xl" > {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-8c81fc0e" > <h6 class="coh-heading {{ coh_instance_class }} coh-ce-cpt_product_comparision_criteria-1a7e72cf" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('b5155b85-c03c-4b21-8c2a-18bbafc6d91a', 'Array') }}" data-ssa-form-type="form-input"{% endif %} > {{ getComponentFieldValue("b5155b85-c03c-4b21-8c2a-18bbafc6d91a") | raw }} </h6> {{ attach_library('cohesion/coh_element_container') }} <div class="coh-container image-wrap" > {% set hideData %}{{ getComponentFieldValue('87e25f91-b9c3-4040-b97c-b17c59ac8640', '') }}{% endset %} {% if hideData is null or hideData|trim != '' %} {{ attach_library('cohesion/coh_element_image') }} <img class="coh-image {{ getComponentFieldValue("87e25f91-b9c3-4040-b97c-b17c59ac8640") | raw }} coh-ce-cpt_product_comparision_criteria-5d7a0545 coh-image-responsive-xl" src="{% set src %}{{ processtoken("[media-reference:file:66f51dcb-5ce9-4c52-9581-b9d22a713d6c]", {"media-reference": media_reference}, _context, true) }}{% endset %}{% set imagestyle %}{% endset %}{{ cohesion_image_style(src, imagestyle) }}" /> {% endif %} </div> </div> </div> {% endif %} </div> </div> </div> </div> 
{% set compiledCSS %}<style>.{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-55ad363 {
{% if getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") is not empty %}   {% if getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") is not empty %} background-color: {{ getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") | raw }};{% endif %}{% endif %}
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 0.9375rem;
  padding-right: 1.875rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.875rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 1169px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-55ad363 {
    display: none;
  }
}
@media (max-width: 1023px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-55ad363 {
    display: none;
  }
}
@media (max-width: 767px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-55ad363 {
    display: none;
  }
}
@media (max-width: 564px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-55ad363 {
    display: none;
  }
}
.{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-55ad363 .criteria_not_available {
  display: none;
}
.{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-1ddfde8d {
{% if getComponentFieldValue("679ac4d9-8adb-428e-9ac8-ddac300d0f93") is not empty %}   {% if getComponentFieldValue("679ac4d9-8adb-428e-9ac8-ddac300d0f93") is not empty %} color: {{ getComponentFieldValue("679ac4d9-8adb-428e-9ac8-ddac300d0f93") | raw }};{% endif %}{% endif %}
  min-width: 25%;
  max-width: 45%;
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-d98b72f1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
{% if getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") is not empty %}   {% if getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") is not empty %} background-color: {{ getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") | raw }};{% endif %}{% endif %}
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 1169px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-d98b72f1 {
    margin-bottom: 0;
  }
}
@media (max-width: 1023px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-d98b72f1 {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-d98b72f1 {
    margin-bottom: 0;
  }
}
@media (max-width: 564px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-d98b72f1 {
    margin-bottom: 0;
  }
}
.{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-1a7e72cf {
{% if getComponentFieldValue("679ac4d9-8adb-428e-9ac8-ddac300d0f93") is not empty %}   {% if getComponentFieldValue("679ac4d9-8adb-428e-9ac8-ddac300d0f93") is not empty %} color: {{ getComponentFieldValue("679ac4d9-8adb-428e-9ac8-ddac300d0f93") | raw }};{% endif %}{% endif %}
  min-width: 25%;
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-8c81fc0e {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
{% if getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") is not empty %}   {% if getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") is not empty %} background-color: {{ getComponentFieldValue("47dda29a-f639-40c6-96fa-a38407715482") | raw }};{% endif %}{% endif %}
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 1169px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-8c81fc0e {
    margin-bottom: 0;
  }
}
@media (max-width: 1023px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-8c81fc0e {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-8c81fc0e {
    margin-bottom: 0;
  }
}
@media (max-width: 564px) {
  .{{ coh_instance_class }}.coh-ce-cpt_product_comparision_criteria-8c81fc0e {
    margin-bottom: 0;
  }
}
</style>{% endset %}{{ renderInlineStyle(compiledCSS) | raw }}